/*style*/
body {
	margin:0;
	padding:0;
	height:100%;
}

div.quotePhrase {
	/*margin: 20% 27% 20% 33%;*/
	margin-top:15%;
	margin-right: 27%;
	margin-left: 33%;
	border-radius: 10px;
	height: 33%;
/*	background-color: #A9F5D0;
	border: 5px solid #2EFE9A;*/
}

.randomQuote {
	text-align: left;
}
.randomGame {
	padding-top: 20px;
}

.monofont{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
}

.arcadeBackground {
	background-image: url(https://raw.githubusercontent.com/laramartin/FCC_random_quote/master/1.jpg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin-bottom: 100px;
}


.footer {
	background:#754F44;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	padding: 20px;
}